<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tailweb App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li>
          <a href="/students" class="w3-bar-item w3-button w3-teal">
            <i class="fa fa-home w3-margin-right"></i> Tailweb
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "login", new_user_session_path %>
        </li>
        <li>
          <%= link_to "register", new_user_registration_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>

</body>
</html>
